
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<!--Photo and who i am container-->
<div class="container-fluid text-center" style="background-color: #00cccc; color: #f5f6f7; padding-top: 30px; padding-bottom: 30px">
    <h3 class="margin">@ViewBag.Name</h3>
    <img src="@Url.Content(ViewBag.ImagePath)" class="img-circle img-rounded margin" style="display:inline-block" alt="me" width="250" height="250">
    <h3>@ViewBag.Occupation</h3>
</div>


<!--Post search bar-->
<div class="container-fluid text-center" style="background-color: #474E5D; color: #f5f6f7">
    <h3 class="margin">Want to Read My Posts?</h3>
    <h4 class="margin">Please enter the keyword or post name for search</h4>
    <form action="@Url.Action("Search","Blog")" method="post" class="form-inline">
        <input type="text" name="keyword" placeholder="Enter Keyword" id="search" class="form-control">
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span>
            Search
        </button>
    </form>
</div>

<!--Latest post gallery-->
<div class="container-fluid text-center" style="background-color: #f5f6f7; color: #474E5D; padding-top: 30px; padding-bottom: 30px">
    <h3 class="margin">Check out my latest posts</h3>
    <div class="row">
        @foreach (var item in ViewBag.LatestArticles)
        {
             <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "Blog", new { id = item.id })">
                        <img src="~/image/article.png" alt="post image" style="width:50%; height:50%">
                        <div class="caption">
                            <p>@item.subject</p>
                        </div>
                    </a>
                </div>
            </div>
        }
           
    </div>
</div>

@section CustomBundle{
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
}

@section CustomStyle{
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/cupertino/jquery-ui.css">
}

@section CustomScript{
    <script>
        $(function () {
            $("#search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/SearchAutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                minLength: 3
            });
        });
    </script>
}