<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</head>
<body>
    <!--Navigation section-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigator">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-education"></span>@ViewBag.Name</a>
            </div>
            <div class="collapse navbar-collapse" id="navigator">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Home","Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Blog","Home")">Blog</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Qualification","Home")">Education & Skills</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Projects","Home")">Projects</a>
                    </li>
                    <li>
                        <a href="@Url.Action("About","Home")">About</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact","Home")">Contact</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login","Home")">Login <span class="glyphicon glyphicon-log-in"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--Content goes here-->
    @RenderBody()

</body>
</html>

