<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("CustomBundle",false)
    @RenderSection("CustomScript",false)
    @RenderSection("CustomStyle",false)
</head>
<body>
    <!--Navigation section-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigator">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-education"></span>@ViewBag.Name</a>
            </div>
            <div class="collapse navbar-collapse" id="navigator">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Home","Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Blog")">Blog</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Qualification","Home")">Education & Skills</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Projects","Home")">Projects</a>
                    </li>
                    <li>
                        <a href="@Url.Action("About","Home")">About</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact","Home")">Contact</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login","Home")">Login <span class="glyphicon glyphicon-log-in"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--Content goes here-->
    @RenderBody()
    

    <!--Footer section-->
    <footer class="container-fluid text-center footer-style" style="background-color: #333333; color: #f5f6f7; padding-top: 15px; padding-bottom: 15px;">
        <a href="@ViewBag.FbUrl" style="padding:0 10px"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
        <a href="@ViewBag.GitUrl" style="padding:0 10px"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <br />
        <p>@ViewBag.Copyright</p>
    </footer>
</body>
</html>
