@model IEnumerable<PWEntity.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Feedback from Visitors</h2>


<table class="table">
    <tr>
        <th>
            <label>Visitor Name</label>
        </th>
        <th>
            <label>Visitor Email</label>
        </th>
        <th>
            <label>Message</label>
        </th>
        <th>
            <label>Date</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.visitorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visitorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteFeed", new { id=item.id })
        </td>
    </tr>
}

</table>
